@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
}

.test {
    background-color: red;
    height: 1000px;
}

.accordions {
    position: fixed;
    top: 0;
    width: 400px;
    height: 1000px;
    background-color: white;
}

.accordions .container {
    list-style: none;
    width: 1005;
    margin: 0 20px 0 55px;
}

.accordions .container label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: -0.3px;
}

label::after {
    content: '+';
    font-size: 18px;
    font-weight: 400;
}

input[type="radio"] {
    display: none;
}

.accordions .content {
    color: #555;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordions input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordions input[type="radio"]:checked + label::after {
    content: '-';
    font-size: 30px;
    font-weight: 400;
}