@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.categoriesa, .categories a:hover, .categories a:link, .categories a:visited {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 1451px) {  
    .categories {
        background-color: white;
        margin: 30px auto;
        border-radius: 10px;
        padding: 22px 48px 41px;
        width: 1280px;
        max-width: 1280px;
    }
    
    .group {
        display: flex;
        justify-content: space-between;
    }
    
    .category img {
        width: 100px;
        height: auto;
    }
    
    .category .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 18px;
        gap: 9px;
        font-weight: 500;
    }
    
    .category i {
        display: none;
    }

    .category .content img:hover {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1450px) {  
    .categories {
        background-color: white;
        margin: 100px 80px;
        border-radius: 10px;
        padding: 22px 48px;
        width: auto;
    }
    
    .group {
        display: flex;
        justify-content: space-between;
    }
    
    .category img {
        width: 100px;
        height: auto;
    }
    
    .category .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 7px;
        font-size: 14px;
        font-weight: 500;
    }
    
    .category i {
        display: none;
    }

    .category .content img:hover {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {  
    .categories {
        background-color: white;
        margin: 30px;
        border-radius: 10px;
        padding: 24px 25px;
    }
    
    .group {
        display: grid;
        grid-template-areas: '1 2 3';
        gap: 14px;
    }
    
    .category img {
        width: 56px;
        height: auto;
    }
    
    .category .content {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 16px;
        font-weight: 500;
    }
    
    .category i {
        display: none;
    }

    .category .content img:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 767px) {  
    .categories {
        background-color: white;
        margin: 30px 20px;
        border-radius: 10px;
        padding: 15px 25px 50px;
    }

    .category {
        display: flex;
        margin: 28px 0;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .category img {
        width: 46px;
        height: auto;
    }

    .category .content {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 15px;
        font-weight: 500;
    }

    .category i {
        font-size: 14px;
    }

    .category .content img:hover {
        transform: scale(1.1);
    }
}